/* START LOADING */
.loading{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0D0D0D;
    z-index: 99999;
    align-items: center;
    justify-content: center;
}
.loading i{
    color: #fff;
}
/* END LOADING */

/* START CONTACT*/
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
  }
  .mealContact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* END CONTACT*/

/* START sideBar */
.side-meals{
    z-index: 9999;
    left: 0px;
    position: fixed;
    top: 0;
}
.sideBarNav-tab {
    background-color: #0D0D0D;
    color: #fff;
}
.sideBartNav-footer .sideBar-icons i {
    padding-right: 5px;
}
.sideBar-links li,
.sideBar-header i,
.col-md-3 h3,
 .col-md-3 p,
 i{
    cursor: pointer;
}
.logo {
    width: 50px;
}
/* START MEAL */
 .meal {
    cursor: pointer;
}
.meal:hover .overlay{
    top: 0;
}
.meal .overlay {
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: all .5s;
    padding: 20px;
}
/* START SEARCH */
#search-meal input{
    background-color: transparent;
    color: #fff;
  }
.form-control::placeholder {
    color: gray
}
/* END SEARCH*/
body {
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
    overflow: hidden;
}